<div class="container">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <h2>登録情報編集</h2>

      <!-- 登録情報編集フォーム -->
      <div class="member-edit-form" style="margin: 30px 0;">
        <%= render 'admin/members/form', member: @member %>
      </div>
    </div>
  </div>
</div>