<!-- 会員ログイン時のヘッダー -->
<li>
  <%= link_to ' MyPage', members_path, class: 'fas fa-users nav-link text-white' %>
</li>
<li>
  <%= link_to ' 投稿フォーム', new_uranai_path, class: 'fas fa-share-square nav-link text-white' %>
</li>
<li>
  <%= link_to ' ログアウト', destroy_member_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-white' %>
</li>