<!-- 非会員/未ログイン時のヘッダー -->
<li>
  <%= link_to ' 投稿フォーム', new_uranai_path, class: 'fas fa-share-square nav-link text-white' %>
</li>
<li>
  <%= link_to ' 新規登録', new_member_registration_path, class: 'fas fa-user-plus nav-link text-white' %>
</li>
<li>
  <%= link_to ' ログイン', new_member_session_path, class: 'fas fa-sign-in-alt nav-link text-white' %>
</li>